In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np

In [3]:
path = r'C:\Users\barka\OneDrive\Final Project\Data\Manhattan\2019\Model Learning'
less_than_10_df = pd.read_csv(path + '\less_than_10.csv')
beteween_10_and_15_df = pd.read_csv(path+ r'\between_10_and_15.csv')
more_than_15_df = pd.read_csv(path+'\more_than_15')
df_list = [less_than_10_df,beteween_10_and_15_df,more_than_15_df]

In [4]:
less_than_10_df.head()

,Zone,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,00:00 - 00:59,01:00 - 01:59,...,Tdep,HDD,CDD,Precipitation,new_snow,snow_depth,trip_distance,trip_time,speed,num_of_taxis
0,4,0,0,0,0,0,1,0,0,0,...,13.3,16.0,0.0,0.06,0.0,0.0,2.062857,8.428571,13.596331,14
1,4,0,0,0,0,0,1,0,0,0,...,13.3,16.0,0.0,0.06,0.0,0.0,2.560769,9.528205,14.936369,13
2,4,0,0,0,0,0,1,0,0,0,...,13.3,16.0,0.0,0.06,0.0,0.0,2.225000,9.031250,14.708362,8
3,4,0,0,0,0,0,1,0,0,0,...,13.3,16.0,0.0,0.06,0.0,0.0,2.399091,9.384848,14.133801,11
4,4,0,0,0,0,0,1,0,0,0,...,13.3,16.0,0.0,0.06,0.0,0.0,1.768333,7.234722,14.140612,12

In [5]:
x_train_scaler = StandardScaler()
x_test_scaler = StandardScaler()
y_train_scaler = StandardScaler()
y_test_scaler = StandardScaler()

df = less_than_10_df.drop(['trip_distance','trip_time','speed','new_snow','snow_depth','index'],axis=1)
# Splits the data into y which is our target feature and to X which are the features
y = df.num_of_taxis
X = df[df.columns.tolist()[:-1]]

# Splits the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1357)
train_df = pd.merge(left=X_train, right=y_train, left_index=True, right_index=True)
test_df = pd.merge(left=X_test, right=y_test, left_index=True, right_index=True)

# Scales the data
X_train_scaled = x_train_scaler.fit_transform(X_train)
X_test_scaled = x_test_scaler.fit_transform(X_test)
y_train_scaled = y_train_scaler.fit_transform(pd.DataFrame(y_train))
y_test_scaled = y_test_scaler.fit_transform(pd.DataFrame(y_test))

# Creating the LR model
lm = LinearRegression()
lm.fit(X_train_scaled,y_train_scaled)

# Predictions on the Train data
train_fitted_scaled_number_of_taxis = lm.predict(X_train_scaled)
train_fitted_number_of_taxis = y_train_scaler.inverse_transform(train_fitted_scaled_number_of_taxis)
predicted_train_number_of_taxis = round(pd.Series(train_fitted_number_of_taxis[:,0],name='predicted_train_number_of_taxis'),ndigits=2)
train_df = pd.merge(left=train_df, right=predicted_train_number_of_taxis , left_index=True, right_index=True)

# Predictions on the Test Data
test_fitted_scaled_number_of_taxis = lm.predict(X_test_scaled)
test_fitted_number_of_taxis = y_test_scaler.inverse_transform(test_fitted_scaled_number_of_taxis)
predicted_test_number_of_taxis = round(pd.Series(test_fitted_number_of_taxis[:,0], index=y_test.index, name='Predicted_test_num_of_taxis'),ndigits=2)
test_df = pd.merge(left=test_df, right=predicted_test_number_of_taxis, left_index=True, right_index=True)


# RMSE
print("MSE:",metrics.mean_squared_error(train_df.num_of_taxis, train_df.predicted_train_number_of_taxis))

MSE: 11732.091847479862

In [6]:
train_df

,Zone,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,00:00 - 00:59,01:00 - 01:59,...,23:00 - 23:59,Tmax,Tmin,Tavg,Tdep,HDD,CDD,Precipitation,num_of_taxis,predicted_train_number_of_taxis
29023,48,0,0,0,0,0,1,0,0,1,...,0,45.0,36.0,40.5,5.1,24.0,0.0,0.02,124,46.28
92948,141,1,0,0,0,0,0,0,0,0,...,0,83.0,68.0,75.5,-1.4,0.0,11.0,0.08,200,162.39
1816,4,0,0,0,0,1,0,0,0,0,...,1,63.0,53.0,58.0,-4.7,7.0,0.0,0.34,21,150.05
151009,211,0,0,0,1,0,0,0,0,0,...,0,39.0,30.0,34.5,-8.7,30.0,0.0,0.62,27,41.56
56413,90,0,0,0,1,0,0,0,0,0,...,0,78.0,63.0,70.5,-3.3,0.0,6.0,0.00,155,91.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106676,144,1,0,0,0,0,0,0,0,0,...,0,80.0,58.0,69.0,13.9,0.0,4.0,0.01,24,66.40
57935,100,0,0,0,0,0,0,1,0,0,...,0,40.0,35.0,37.5,2.5,27.0,0.0,0.00,13,70.86
35143,68,0,1,0,0,0,0,0,0,0,...,0,74.0,69.0,71.5,-2.0,0.0,7.0,0.30,133,204.83
127942,162,0,0,0,0,0,1,0,0,0,...,0,76.0,62.0,69.0,0.0,0.0,4.0,0.00,126,129.28
150835,211,0,0,1,0,0,0,0,0,0,...,0,53.0,40.0,46.5,-5.7,18.0,0.0,0.00,3,73.14

In [7]:
for df in df_list:
    
    x_train_scaler = StandardScaler()
    x_test_scaler = StandardScaler()
    y_train_scaler = StandardScaler()
    y_test_scaler = StandardScaler()
    df.drop(['trip_distance','trip_time','speed','new_snow','snow_depth','index'],axis=1,inplace=True)
    # Splits the data into y which is our target feature and to X which are the features
    y = df.num_of_taxis
    X = df[df.columns.tolist()[:-1]]

    # Splits the data into train and test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1357)
    train_df = pd.merge(left=X_train, right=y_train, left_index=True, right_index=True)
    test_df = pd.merge(left=X_test, right=y_test, left_index=True, right_index=True)

    # Scales the data
    X_train_scaled = x_train_scaler.fit_transform(X_train)
    X_test_scaled = x_test_scaler.fit_transform(X_test)
    y_train_scaled = y_train_scaler.fit_transform(pd.DataFrame(y_train))
    y_test_scaled = y_test_scaler.fit_transform(pd.DataFrame(y_test))

    # Creating the LR model
    lm = LinearRegression()
    lm.fit(X_train_scaled,y_train_scaled)

    # Predictions on the Train data
    train_fitted_scaled_number_of_taxis = lm.predict(X_train_scaled)
    train_fitted_number_of_taxis = y_train_scaler.inverse_transform(train_fitted_scaled_number_of_taxis)
    predicted_train_number_of_taxis = round(pd.Series(train_fitted_number_of_taxis[:,0],name='predicted_train_number_of_taxis'),ndigits=2)
    train_df = pd.merge(left=train_df, right=predicted_train_number_of_taxis , left_index=True, right_index=True)

    # Predictions on the Test Data
    test_fitted_scaled_number_of_taxis = lm.predict(X_test_scaled)
    test_fitted_number_of_taxis = y_test_scaler.inverse_transform(test_fitted_scaled_number_of_taxis)
    predicted_test_number_of_taxis = round(pd.Series(test_fitted_number_of_taxis[:,0], index=y_test.index, name='Predicted_test_num_of_taxis'),ndigits=2)
    test_df = pd.merge(left=test_df, right=predicted_test_number_of_taxis, left_index=True, right_index=True)


    # RMSE
    print("MSE:",metrics.mean_squared_error(train_df.num_of_taxis, train_df.predicted_train_number_of_taxis))

MSE: 11732.091847479862
MSE: 24958.809842117193
MSE: 13848.226161454275